In [57]:
import os
os.getcwd()

'C:\\Users\\Neelimesh\\Downloads\\mphasis_data_models-20231204T055308Z-001\\mphasis_data_models'

In [58]:
import pandas as pd

In [59]:
excel_path = 'Mphasis - Data boiled down.xlsx'
sheet_name_1 = 'Schedule Attributes'
sheet_name_2 = 'Inventory Attributes'

In [60]:
sch = pd.read_excel(excel_path, sheet_name = sheet_name_1)
inv = pd.read_excel(excel_path, sheet_name = sheet_name_2)

In [61]:
df1 = pd.DataFrame(sch)
df2 = pd.DataFrame(inv)

In [62]:
df1['DepartureTime'] = pd.to_datetime(df1['DepartureTime'], format='%H:%M:%S')
df1['ArrivalTime'] = pd.to_datetime(df1['ArrivalTime'], format='%H:%M:%S')

df2['DepartureTime'] = pd.to_datetime(df2['DepartureTime'], format='%H:%M:%S')
df2['ArrivalTime'] = pd.to_datetime(df2['ArrivalTime'], format='%H:%M:%S')

In [63]:
#Importing departure and arrival time from Schedule Data to Inventory Data
i=j=0
while i < len(df1) and j < len(df2):
    if(df1.loc[i, 'ScheduleID'] == df2.loc[j, 'ScheduleId']):
        df2.loc[j, 'DepartureTime'] = df1.loc[i, 'DepartureTime']
        df2.loc[j, 'ArrivalTime'] = df1.loc[i, 'ArrivalTime']
        j = j + 1
    else:
        i = i + 1

In [64]:
df2.head()

,InventoryId,ScheduleId,DepartureDate,ArrivalDate,DepartureTime,ArrivalTime,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,Oversold,AvailableInventory
0,INV-ZZ-1875559,SCH-ZZ-7283355,2024-05-25,2024-05-25,1900-01-01 04:37:00,1900-01-01 12:50:00,3417,CNN,MAA,270,300,144,-126,156
1,INV-ZZ-2847882,SCH-ZZ-7283355,2024-05-26,2024-05-26,1900-01-01 04:37:00,1900-01-01 12:50:00,3417,CNN,MAA,270,321,143,-127,178
2,INV-ZZ-2048509,SCH-ZZ-7283355,2024-06-01,2024-06-01,1900-01-01 04:37:00,1900-01-01 12:50:00,3417,CNN,MAA,270,322,142,-128,180
3,INV-ZZ-9629978,SCH-ZZ-7283355,2024-06-02,2024-06-02,1900-01-01 04:37:00,1900-01-01 12:50:00,3417,CNN,MAA,270,305,131,-139,174
4,INV-ZZ-6952251,SCH-ZZ-7283355,2024-06-08,2024-06-08,1900-01-01 04:37:00,1900-01-01 12:50:00,3417,CNN,MAA,270,318,136,-134,182

In [65]:
df2['DepartureTime'] = pd.to_datetime(df2['DepartureTime'], format='%H:%M:%S')
df2['DepartureTime'] = df2['DepartureTime'].dt.time

df2['ArrivalTime'] = pd.to_datetime(df2['ArrivalTime'], format='%H:%M:%S')
df2['ArrivalTime'] = df2['ArrivalTime'].dt.time

In [66]:
df2.head()

,InventoryId,ScheduleId,DepartureDate,ArrivalDate,DepartureTime,ArrivalTime,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,Oversold,AvailableInventory
0,INV-ZZ-1875559,SCH-ZZ-7283355,2024-05-25,2024-05-25,04:37:00,12:50:00,3417,CNN,MAA,270,300,144,-126,156
1,INV-ZZ-2847882,SCH-ZZ-7283355,2024-05-26,2024-05-26,04:37:00,12:50:00,3417,CNN,MAA,270,321,143,-127,178
2,INV-ZZ-2048509,SCH-ZZ-7283355,2024-06-01,2024-06-01,04:37:00,12:50:00,3417,CNN,MAA,270,322,142,-128,180
3,INV-ZZ-9629978,SCH-ZZ-7283355,2024-06-02,2024-06-02,04:37:00,12:50:00,3417,CNN,MAA,270,305,131,-139,174
4,INV-ZZ-6952251,SCH-ZZ-7283355,2024-06-08,2024-06-08,04:37:00,12:50:00,3417,CNN,MAA,270,318,136,-134,182

In [67]:
#Combining Date and Time into a single column for easy time manipulation in Python
df2['Departure'] = 0
df2['Arrival'] = 0

df2['Departure'] = pd.to_datetime(df2['DepartureDate'].astype(str) + ' ' + df2['DepartureTime'].astype(str), format='%Y-%m-%d %H:%M:%S')
df2['Arrival'] = pd.to_datetime(df2['ArrivalDate'].astype(str) + ' ' + df2['ArrivalTime'].astype(str), format='%Y-%m-%d %H:%M:%S')

In [68]:
df2.head()

,InventoryId,ScheduleId,DepartureDate,ArrivalDate,DepartureTime,ArrivalTime,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,Oversold,AvailableInventory,Departure,Arrival
0,INV-ZZ-1875559,SCH-ZZ-7283355,2024-05-25,2024-05-25,04:37:00,12:50:00,3417,CNN,MAA,270,300,144,-126,156,2024-05-25 04:37:00,2024-05-25 12:50:00
1,INV-ZZ-2847882,SCH-ZZ-7283355,2024-05-26,2024-05-26,04:37:00,12:50:00,3417,CNN,MAA,270,321,143,-127,178,2024-05-26 04:37:00,2024-05-26 12:50:00
2,INV-ZZ-2048509,SCH-ZZ-7283355,2024-06-01,2024-06-01,04:37:00,12:50:00,3417,CNN,MAA,270,322,142,-128,180,2024-06-01 04:37:00,2024-06-01 12:50:00
3,INV-ZZ-9629978,SCH-ZZ-7283355,2024-06-02,2024-06-02,04:37:00,12:50:00,3417,CNN,MAA,270,305,131,-139,174,2024-06-02 04:37:00,2024-06-02 12:50:00
4,INV-ZZ-6952251,SCH-ZZ-7283355,2024-06-08,2024-06-08,04:37:00,12:50:00,3417,CNN,MAA,270,318,136,-134,182,2024-06-08 04:37:00,2024-06-08 12:50:00

In [69]:
df2.drop(['DepartureDate', 'ArrivalDate','DepartureTime', 'ArrivalTime'], axis=1, inplace=True )

In [74]:
col1 = df2.pop('Departure')
df2.insert(2, 'Departure', col1)

col2 = df2.pop('Arrival')
df2.insert(3, 'Arrival', col2)

In [77]:
df2.head()

,InventoryId,ScheduleId,Departure,Arrival,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,Oversold,AvailableInventory
0,INV-ZZ-1875559,SCH-ZZ-7283355,2024-05-25 04:37:00,2024-05-25 12:50:00,3417,CNN,MAA,270,300,144,-126,156
1,INV-ZZ-2847882,SCH-ZZ-7283355,2024-05-26 04:37:00,2024-05-26 12:50:00,3417,CNN,MAA,270,321,143,-127,178
2,INV-ZZ-2048509,SCH-ZZ-7283355,2024-06-01 04:37:00,2024-06-01 12:50:00,3417,CNN,MAA,270,322,142,-128,180
3,INV-ZZ-9629978,SCH-ZZ-7283355,2024-06-02 04:37:00,2024-06-02 12:50:00,3417,CNN,MAA,270,305,131,-139,174
4,INV-ZZ-6952251,SCH-ZZ-7283355,2024-06-08 04:37:00,2024-06-08 12:50:00,3417,CNN,MAA,270,318,136,-134,182