In [18]:
df2['Bool'] = 1

In [19]:
import numpy as np
import random
cancelled_flights = []
for i in range(random.randrange(25)):
    cancelled_flight = random.randrange(len(df2))
    cancelled_flights.append(cancelled_flight)

In [20]:
cancelled_flights = np.unique(cancelled_flights)
for i in cancelled_flights:
    df2.at[i, 'Bool'] = 0
print(cancelled_flights)

[186 194 221 449 462 527 551 570 571]

In [21]:
threshold1 = pd.Timedelta(hours=6)
threshold2 = pd.Timedelta(hours=12)
threshold3 = pd.Timedelta(hours=24)
threshold4 = pd.Timedelta(hours=48)
zero_time = pd.Timedelta(hours=0)

In [22]:
for j in range(len(cancelled_flights)):
    new_col = f'Flight_Score_{cancelled_flights[j]}'
    df2[new_col] = 0
    
    for i in range(len(df2)):
        if df2.loc[i, 'Bool'] == 1:
            if df2.loc[i, 'DepartureAirport'] == df2.loc[cancelled_flights[j], 
            'DepartureAirport'] and df2.loc[i, 'ArrivalAirport'] == df2.loc[cancelled_flights[j], 'ArrivalAirport']:
                diff = df2.loc[i, 'Departure'] - df2.loc[cancelled_flights[j], 'Departure']
                if((diff <= threshold4) and (diff >= zero_time)):                            #Time difference between rescheduling flight and the 
                    df2.loc[i, new_col] = 30                                                 #cancelled flight should be positive since rescheduling flight 
                    if((diff <= threshold3) and (diff >= zero_time)):                        #can only operate after the cancelled flight
                        df2.loc[i, new_col] = 40
                        if((diff <= threshold2) and (diff >= zero_time)):
                            df2.loc[i, new_col] = 50
                            if((diff <= threshold1) and (diff >= zero_time)):
                                df2.loc[i, new_col] = 70
df2 = pd.concat([df2], axis=1)

In [23]:
df2

,InventoryId,ScheduleId,Departure,Arrival,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,...,Bool,Flight_Score_186,Flight_Score_194,Flight_Score_221,Flight_Score_449,Flight_Score_462,Flight_Score_527,Flight_Score_551,Flight_Score_570,Flight_Score_571
0,INV-ZZ-1875559,SCH-ZZ-7283355,2024-05-25 04:37:00,2024-05-25 12:50:00,3417,CNN,MAA,270,300,144,...,1,0,0,0,0,0,0,0,0,0
1,INV-ZZ-2847882,SCH-ZZ-7283355,2024-05-26 04:37:00,2024-05-26 12:50:00,3417,CNN,MAA,270,321,143,...,1,0,0,0,0,0,0,0,0,0
2,INV-ZZ-2048509,SCH-ZZ-7283355,2024-06-01 04:37:00,2024-06-01 12:50:00,3417,CNN,MAA,270,322,142,...,1,0,0,0,0,0,0,0,0,0
3,INV-ZZ-9629978,SCH-ZZ-7283355,2024-06-02 04:37:00,2024-06-02 12:50:00,3417,CNN,MAA,270,305,131,...,1,0,0,0,0,0,0,0,0,0
4,INV-ZZ-6952251,SCH-ZZ-7283355,2024-06-08 04:37:00,2024-06-08 12:50:00,3417,CNN,MAA,270,318,136,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,INV-ZZ-1730435,SCH-ZZ-3933513,2023-12-14 20:10:00,2023-12-14 01:13:00,2684,PNQ,CNN,91,107,101,...,1,0,0,0,0,0,0,0,0,0
598,INV-ZZ-2692884,SCH-ZZ-3933513,2023-12-16 20:10:00,2023-12-16 01:13:00,2684,PNQ,CNN,91,106,92,...,1,0,0,0,0,0,0,0,0,0
599,INV-ZZ-9163353,SCH-ZZ-3933513,2023-12-17 20:10:00,2023-12-17 01:13:00,2684,PNQ,CNN,91,101,89,...,1,0,0,0,0,0,0,0,0,0
600,INV-ZZ-4685897,SCH-ZZ-3933513,2023-12-18 20:10:00,2023-12-18 01:13:00,2684,PNQ,CNN,91,103,92,...,1,0,0,0,0,0,0,0,0,0
601,INV-ZZ-6022794,SCH-ZZ-3933513,2023-12-19 20:10:00,2023-12-19 01:13:00,2684,PNQ,CNN,91,100,88,...,1,0,0,0,0,0,0,0,0,0

In [24]:
df2['Bool'].value_counts()

Bool
1    593
0      9
Name: count, dtype: int64

In [25]:
filt = (df2['Bool'] == 0)
df2.loc[filt]

,InventoryId,ScheduleId,Departure,Arrival,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,...,Bool,Flight_Score_186,Flight_Score_194,Flight_Score_221,Flight_Score_449,Flight_Score_462,Flight_Score_527,Flight_Score_551,Flight_Score_570,Flight_Score_571
186,INV-ZZ-4202432,SCH-ZZ-4219268,2024-02-23 08:34:00,2024-02-23 08:47:00,2526,GAU,BLR,270,301,200,...,0,0,0,0,0,0,0,0,0,0
194,INV-ZZ-3306922,SCH-ZZ-8409294,2024-02-23 18:20:00,2024-02-23 07:45:00,3417,CNN,MAA,270,320,234,...,0,0,0,0,0,0,0,0,0,0
221,INV-ZZ-8034577,SCH-ZZ-1430826,2023-12-16 22:15:00,2023-12-16 12:46:00,2008,GAU,LKO,100,118,105,...,0,0,0,0,0,0,0,0,0,0
449,INV-ZZ-1842209,SCH-ZZ-6454179,2023-12-11 16:53:00,2023-12-11 12:06:00,2973,IDR,BOM,100,111,91,...,0,0,0,0,0,0,0,0,0,0
462,INV-ZZ-9720660,SCH-ZZ-3482484,2023-12-19 23:47:00,2023-12-19 02:27:00,2914,GOI,COK,270,307,248,...,0,0,0,0,0,0,0,0,0,0
527,INV-ZZ-3403536,SCH-ZZ-5949538,2023-12-10 02:11:00,2023-12-10 23:15:00,2809,CJB,HYD,220,257,238,...,0,0,0,0,0,0,0,0,0,0
551,INV-ZZ-7048653,SCH-ZZ-2990004,2023-12-21 11:26:00,2023-12-21 21:02:00,2347,PAT,BOM,270,323,288,...,0,0,0,0,0,0,0,0,0,0
570,INV-ZZ-8300249,SCH-ZZ-7320637,2023-12-15 01:10:00,2023-12-15 00:31:00,2877,GOI,BOM,270,306,276,...,0,0,0,0,0,0,0,0,0,0
571,INV-ZZ-3634363,SCH-ZZ-7320637,2023-12-16 01:10:00,2023-12-16 00:31:00,2877,GOI,BOM,270,313,257,...,0,0,0,0,0,0,0,0,0,0

In [37]:
filt = (df2['Flight_Score_551'] == 30)
df2.loc[filt]

,InventoryId,ScheduleId,Departure,Arrival,FlightNumber,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,...,Bool,Flight_Score_186,Flight_Score_194,Flight_Score_221,Flight_Score_449,Flight_Score_462,Flight_Score_527,Flight_Score_551,Flight_Score_570,Flight_Score_571
552,INV-ZZ-5830986,SCH-ZZ-2990004,2023-12-23 11:26:00,2023-12-23 21:02:00,2347,PAT,BOM,270,298,251,...,1,0,0,0,0,0,0,30,0,0